{% extends PARENT %}
{% block content %}
        <meta name="description" content="CART 351 Networks & Navigation">
        <link type="text/css" rel="stylesheet"
            href="{{ STATIC }}{{ APP }}/css/listing-wo-header-{{ PLATFORM }}-black.css" />
    </head>
    <body>
        <div id="main">
            <!-- Nice colors: E67451 E8A317 3B9C9C F75D59 4CC552 -->
            <ul>
                <li>
                    <header style="color: #E8A317">Assignments</header>
                </li>
                <li>
                    <a href="/cart/351/corporate-landing-page/">
                        <div id="right"><p>Corporate Landing Page</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </body>
{% endblock %}
